<div class="page-title">
  <h4>Analytics</h4>
</div>
<div [style.display]="pending ? 'none' : 'block'">


<div class="average-price">
  <p>Umsatz im Schnitt <strong>{{average}} Eur.</strong></p>
</div>

<div class="analytics-block pb3">
  <h5>Umsatz</h5>
  <canvas #gain></canvas>
</div>

<div class="analytics-block">
  <h5>Bestellungen</h5>
  <canvas #order></canvas>
</div>
</div>


  <app-loader *ngIf="pending"></app-loader>
