<div class="page-title">
  <h4>
    Aktivitäten von gestern ({{yesterday | date: 'dd.MM.yyyy'}})
    <i class="material-icons green-text pointer" (click)="openInfo()">

      info_outline</i>
  </h4>
</div>

<div class="row"
    *ngIf="data$ | async as data; else loader"
>
  <div class="col s12 l6">
    <div class="card light-blue lighten-2 white-text">
      <div class="card-content">
        <span class="card-title">Umsatz:</span>
        <h3>{{data.gain.yesterday}} Eur.</h3>
        <h3 class=" m0 mb1"
        [ngClass]="{
        'green-text text-darken-2' : data.gain.isHigher,
        'red-text' : !data.gain.isHigher

        }"



        >
          <i class="material-icons">
            {{data.gain.isHigher ? 'arrow_upward' : 'arrow_downward'}}

          </i>
          {{data.gain.percent}}%
        </h3>
        <p>Umsatz gestern war um {{data.gain.percent}}% {{data.gain.isHigher ? 'höher' : 'niedriger'}}
          als durchschnittlich: {{data.gain.compare}} Eur/Tag</p>
      </div>
    </div>
  </div>

  <div class="col s12 l6">
    <div class="card orange lighten-2 white-text">
      <div class="card-content">
        <span class="card-title">Bestellungen:</span>
        <h3>{{data.orders.yesterday}} Bestell.</h3>
        <h3 class="m0 mb1"
            [ngClass]="{
        'green-text text-darken-2' : data.orders.isHigher,
        'red-text' : !data.orders.isHigher

        }"

        >
          <i class="material-icons">
            {{data.orders.isHigher ? 'arrow_upward' : 'arrow_downward'}}
            </i>
          {{data.orders.percent}}%
        </h3>
        <p>Anzahl der Bestellungen gestern war um {{data.orders.percent}}% {{data.orders.isHigher ? 'höher' : 'niedriger'}} als durchschnittlich: {{data.orders.compare}} Bestell./Tag</p>
      </div>
    </div>
  </div>
</div>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>


<div class="tap-target" data-target="menu" #tapTarget>
  <div class="tap-target-content">
    <h5>Wozu dient diese Seite?</h5>
    <p>Auf der Seite "Review" wird die Umsatzdynamik des Vortages angezeigt. Ein Vergleich mit Durchschnittswerten hilft Ihnen zu verstehen, wie es Ihrem Unternehmen geht.</p>
  </div>
</div>