<div class="page-title">
  <h4>Bestellung Historie</h4>
  <button
          (click)="isFilterVisible= !isFilterVisible"
          class="btn btn-small"
          [ngClass]="{
          'active': isFilterVisible,
          'red': isFiltered()
  }"
          data-tooltip="Filter öffnen"
          data-position="left"
          #tooltip
  >
    <i class="material-icons">filter_list</i>
  </button>
</div>

<app-history-filter
        *ngIf="isFilterVisible"
        (onFilter)="applyFilter($event)"


></app-history-filter>

<div *ngIf="!reloading; else reloadingBlock">
    <div *ngIf="orders.length > 0; else empty">
    <app-history-list [orders]="orders"></app-history-list>

    <div class="center mb2"
    *ngIf="!noMoreOrders"
    >
        <button
                class="btn waves-effect grey darken-1 btn-small"
                (click)="loadMore()"
                *ngIf="!loading; else loader"
        >mehr laden...</button>
        <ng-template #loader>
            <app-loader></app-loader>
        </ng-template>
    </div>
</div>
</div>
<ng-template #empty>
    <div class="center">Noch keine Bestellungen</div>
</ng-template>

<ng-template #reloadingBlock>
    <app-loader></app-loader>
</ng-template>






