<form class="card"
      [formGroup]="form"
      (ngSubmit)="onSubmit()">
  <div class="card-content">
    <span class="card-title">Einloggen</span>
    <div class="input-field">
      <input formControlName="email"
             id="email"
             type="email"
             [ngClass]="{'invalid': form.get('email').invalid && form.get('email').touched}"
      >
      <label for="email">Email:</label>
     <span class="helper-text red-text"
      *ngIf="form.get('email').invalid && form.get('email').touched"
      >
      <span *ngIf="form.get('email').errors['required']">Das Feld Email darf nicht leer sein</span>
      <span *ngIf="form.get('email').errors['email']">Geben Sie korrekte Email Adresse ein</span>
      </span>
    </div>
    <div class="input-field">
      <input formControlName="password"
             id="password"
             type="password"
             [ngClass]="{'invalid': form.get('password').invalid && form.get('password').touched}"
      >
      <label for="password">Passwort:</label>
      <span class="helper-text red-text"
            *ngIf="form.get('password').invalid && form.get('password').touched"
      >
      <span *ngIf="form.get('password').errors['required']">Das Feld Passwort darf nicht leer sein</span>
        <span *ngIf="form.get('password').errors['minlength'] && form.get('password').errors['minlength']['requiredLength']">
          Passwort muss mindestens {{form.get('password').errors['minlength']['requiredLength']}} Zeichen haben.
          Momentan sind {{form.get('password').errors['minlength']['actualLength']}} Zeichen.
        </span>
      </span>
    </div>
  </div>
  <div class="card-action">
    <button
            type="submit"
            class="modal-action btn waves-effect"
            [disabled]="form.invalid || form.disabled"
    >Einloggen</button>
  </div>
</form>
