<div class="row">
  <div class="col s12">
    <div class="page-subtitle">
      <h4>Artikel:</h4>
      <button
              class="waves-effect waves-light btn grey darken-1 btn-small modal-trigger"
            (click)="onAddPosition()"
      >

          Neuen Artikel erstellen
      </button>
    </div>
<div *ngIf="!loading; else loader">
    <div class="collection" *ngIf="positions.length !== 0; else empty"
    >
      <a
           *ngFor="let position of positions"

              class="collection-item collection-item-icon"
            (click)="onSelectPosition(position)"
      >
                    <span>
                        {{position.name}} <strong>{{position.cost}} Eur.</strong>
                    </span>
        <span>
                        <i class="material-icons" (click)="onDeletePosition($event, position)">delete</i>
                    </span>
      </a>
    </div>
    <ng-template #empty>
      <div class="center">Noch keine Artikel in dieser Kategorie</div>
    </ng-template>
</div>
    <ng-template #loader>
      <app-loader></app-loader>
    </ng-template>
  </div>
</div>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
<div class="modal" #modal>
  <div class="modal-content">
    <h4 class="mb1">{{positionId ? 'Artikel bearbeiten': 'Neuen Artikel erstellen'}}</h4>
    <div class="input-field">
      <input
              formControlName="name"
              id="pos-name" type="text"
              [ngClass]="{'invalid' : form.get('name').invalid && form.get('name').touched}"
      >
      <label for="pos-name">Name</label>
      <span
              *ngIf="form.get('name').invalid && form.get('name').touched"
              class="helper-text red-text">
        Das Feld Name darf nicht leer sein
      </span>
    </div>
    <div class="input-field">
      <input
              formControlName="cost"
              id="pos-cost"
              type="number"
              min="1"
              [ngClass]="{'invalid' : form.get('cost').invalid && form.get('cost').touched}"

      >
      <label for="pos-cost">Preis</label>
      <span
              *ngIf="form.get('cost').invalid && form.get('cost').touched"
              class="helper-text red-text">
        Tragen Sie korrekten Wert ein. Minimum 1 Euro
      </span>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" (click)="onCancel()" class="modal-action waves-effect waves-black btn-flat"
        [disabled]="form.disabled"
>Abbrechen</button>
    <button class="modal-action btn waves-effect" type="submit"
            [disabled]="form.disabled || form.invalid"
    >Speichern</button>
  </div>
</div>
</form>